PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2026-01-01
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_SANITY_ENABLE_PREVIEW=false
SANITY_API_READ_TOKEN=
SANITY_PREVIEW_SECRET=