---
import '../styles/global.css';
import HTML from '../../layouts/html.astro';
---

<HTML title={'Astro + Sanity Starter'} description="">
	<header class="space-y-3">
		<h1>
			<!-- artilcle title goes here -->
		</h1>
		<time datetime={`${/* machine readable publish date*/ ''}`}>
			// human formatted publish date
		</time>
		<p>
			<!-- author name -->
		</p>
	</header>
	<section>
		<!-- portable text goes here -->
	</section>
</HTML>
