---
import '../styles/global.css';
import HTML from '../../layouts/html.astro';
---

<HTML title={'Astro + Sanity Starter'} description="">
	<header class="space-y-3">
		<h1>Blog</h1>
	</header>
	<section>
		<ul>
			<!-- {articles.map((({title, url}) => {
				rerturn (<li>
					<a hrerf={url}>{title}</a>
				</li>) 
			}))} -->
		</ul>
	</section>
</HTML>
