---
interface Props {
	as: 'header' | 'section';
	class?: string;
}

const { as, class: className = '' } = Astro.props;
---

{
	as === 'header' ? (
		<header class={className}>
			<slot />
		</header>
	) : (
		<section class={className}>
			<slot />
		</section>
	)
}
